## Importing Functions

In [1]:
%%time
import import_ipynb
import pandas as pd
import time
from function import read_data, data_prep, log_model, model_diag

importing Jupyter notebook from function.ipynb
CPU times: total: 1.64 s
Wall time: 2.79 s
CPU times: total: 2.45 s
Wall time: 4.04 s

## Importing Data

In [2]:
%%time
data = read_data('C:/Users/Pc/OneDrive/Pictures/Data science assignments/week 16/batch88assignments/4. Logistic Regresssion/bank-full_cleaned.csv')
data.head()

CPU times: total: 328 ms
Wall time: 317 ms

,age,job,marital,education,default,balance,housing,loan,contact,day,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,58,management,married,tertiary,0,2143,1,0,unknown,5,...,0,0,1,0,0,0,0,0,0,1
1,44,technician,single,secondary,0,29,1,0,unknown,5,...,0,0,1,0,0,0,0,0,0,1
2,33,entrepreneur,married,secondary,0,2,1,1,unknown,5,...,0,0,1,0,0,0,0,0,0,1
3,47,blue-collar,married,unknown,0,1506,1,0,unknown,5,...,0,0,1,0,0,0,0,0,0,1
4,33,unknown,single,unknown,0,1,0,0,unknown,5,...,0,0,1,0,0,0,0,0,0,1

## LogisticRegression Model

In [4]:
%%time
X_train, X_test, y_train, y_test = data_prep(data, 0.2)
pred = log_model(X_train,y_train,X_test)
pred

CPU times: total: 4.03 s
Wall time: 2.2 s

array([0, 0, 1, ..., 0, 0, 0], dtype=int64)

## Model Diagnostics

In [5]:
acc, prc,clf,conf = model_diag(y_test,pred)
print("Accuracy score =", (round(acc,2)*100),"%")
print("Precision score =", (round(prc,2)*100),"%")
print("classification Report")
print(clf)
print("Confusion Matrix")
print(conf)

Accuracy score = 89.0 %
Precision score = 69.0 %
classification Report
              precision    recall  f1-score   support

           0       0.90      0.99      0.94      7985
           1       0.69      0.18      0.29      1058

    accuracy                           0.89      9043
   macro avg       0.80      0.59      0.62      9043
weighted avg       0.88      0.89      0.87      9043

Confusion Matrix
[[7899   86]
 [ 865  193]]